.bannerVideo {
    position: relative;
}

.bannerVideo video {
    max-height: 560px;
    object-fit: cover;
}

.bannerVideo h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.bannerVideo .infoBanner h1 {
    color: var(--color-10);
    font-family: var(--primary-font);
    font-weight: 600;
}

.bannerVideo .infoBanner .buttonBanner {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
}

.buttonBanner:first-child {
    display: none;
}

.bannerVideo .infoBanner .btnToggleVolumen {
    position: absolute;
    text-align: right;
    bottom: 75px;
    width: 100%;
    max-width: 1320px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    font-size: 20px;
    color: var(--color-02);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: middle;
    gap: 5px;
    cursor: pointer;
}

.bannerVideo .infoBanner .btnToggleVolumen i {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .bannerVideo video {
        min-height: 525px;
    }

    .bannerVideo h1 {
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .bannerVideo .infoBanner .btnToggleVolumen {
        width: auto;
        right: 0;
    }

    .buttonsBanner {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 30%);
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    .buttonBanner:first-child {
        display: flex;
        background-color: white;
    }

    .buttonBanner {
        position: relative !important;
        bottom: inherit !important;
        left: 0 !important;
        transform: translate(0, 0%) !important;
        width: fit-content;
        min-width: fit-content;
    }

    .btnToggleVolumen{
        bottom: 40px !important;
        right: 30px !important;
    }
}