.blockText h2 {
    color: var(--color-01);
    font-family: var(--secondary-font);
    font-size: var(--fs-40);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blockText h3 {
    font-size: var(--fs-28);
    font-weight: 600;
}

.blockText * + h3 {
    margin-top: var(--space-56);
    font-weight: 600;
    line-height: 121%;
}

.blockText p{
    color: var(--color-09);
    text-align: justify;
}

.blockText ul li{
    text-align: justify;
}

@media screen and (width < 768px){
    .blockText h2 {
        font-size: var(--fs-33);
    }

    .blockText h3 {
        font-size: var(--fs-25);
    }

    .blockText ul li{
        align-items: flex-start;
        line-height: 150%;
        color: var(--color-09);
    }

    .blockText ul li + li{
        margin-top: var(--space-16);
    }
}