.PreviewTeam div[class*="col-"]:last-child{
    padding-left: 115px;
}

.PreviewTeam p{
    font-size: var(--fs-25);
    color: var(--color-09);
}

.SeparatorTitle{
    background: var(--gradient-04);
    height: 8px;
    position: relative;
    right: 0;
    width: calc(100% + 40%);
    left: -40%;
}

@media screen and (width <= 768px) {
    .PreviewTeam div[class*="col-"]:last-child{
        padding-left: 15px;
        margin-top: var(--space-56);
    } 

    .SeparatorTitle {
        width: 100%;
        left: 0;
    }

    .PreviewTeam a{
        width: 100%;
        max-width: 100%;
    }

    .PreviewTeam p{
        font-size: var(--fs-18);
    }
}