.BannerGradient{
    padding: var(--space-48) 0;
}

.BannerGradient h2{
    max-width: 815px;
    font-size: var(--fs-32);
}

.InnerContainer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (width <= 768px) {
    .BannerGradient{
        padding: var(--space-96) 0 !important;
    }

    .BannerGradient h2{
        font-size: var(--fs-27);
    }
}