@import url('./fonts.css');


:root {

  /* colors */
  --color-01: #2E3C71;
  --color-02: #4C6F6A;
  --color-03: #B4CCB5;
  --color-04: #B2CECC;
  --color-05: #35528F;
  --color-06: #ABB1C6;
  --color-07: #EDECED;
  --color-08: #000000;
  --color-09: #4B4C4E;
  --color-10: #FFFFFF;

  /* neutrals colors */
  --neutral-00: #000000;
  --neutral-01: #0A0A0B;
  --neutral-02: #141517;
  --neutral-03: #1E1F22;
  --neutral-04: #353538;
  --neutral-05: #4B4C4E;
  --neutral-06: #626264;
  --neutral-07: #78797A;
  --neutral-08: #8F8F91;
  --neutral-09: #A5A5A7;
  --neutral-11: #BCBCBD;
  --neutral-12: #D2D2D3;
  --neutral-13: #E9E9E9;
  --neutral-14: #FFFFFF;
  --neutral-15: #F6F6F6;

  /* gradients */
  --gradient-01: linear-gradient(180deg, #9CB78E 0%, #556F69 50%, #454795 100%);
  --gradient-02: linear-gradient(180deg, #4C6F6A 0%, rgba(76, 111, 106, 0.80) 100%);
  --gradient-03: linear-gradient(120deg, #9CB78E -68.52%, #556F69 41.32%, #454795 133.37%);

  --gradient-04: linear-gradient(90deg, #9CB78E 0%, #556F69 51%, #454795 100%);
  --gradient-05: linear-gradient(45deg, #9CB78E 0%, #556F69 51%, #454795 100%);
  --gradient-06: linear-gradient(90deg, #9CB78E 5.73%, #556F69 45.83%, #2E3C71 85.94%);
  --gradient-07: linear-gradient(90deg, #2E3C71 5.73%, #556F69 45.83%, #9CB78E 85.94%);


  /* shadows */
  --shadow-soft: 0px 9px 40px 0px rgba(76, 111, 106, 0.15);
  --shadow-box: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
  --shadow-strong01: 0px 0px 6px 0px rgba(76, 111, 106, 0.20);
  --shadow-strong02: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);

  /* feedbacks */
  --color-success-01: #E3F2E0;
  --color-success-02: #8DC881;
  --color-success-03: #459A33;

  --bg-success-01: #E3F2E0;
  --bg-success-02: #8DC881;
  --bg-success-03: #459A33;

  --color-error-01: #F7E6E1;
  --color-error-02: #E29583;
  --color-error-03: #B64D34;

  --bg-error-01: #F7E6E1;
  --bg-error-02: #E29583;
  --bg-error-03: #B64D34;


  /** spacings and border radius **/
  --b-radius-4: 4px;
  --b-radius-8: 8px;
  --b-radius-16: 16px;

  --space-4: 4px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-15: 15px;
  --space-16: 16px;
  --space-18: 18px;
  --space-24: 24px;
  --space-27: 27px;
  --space-32: 32px;
  --space-48: 48px;
  --space-56: 56px;
  --space-74: 74px;
  --space-96: 96px;
  --space-135: 135px;


  /** sizes **/
  --fs-11: 0.611rem;
  --fs-14: 0.778rem;
  --fs-15: 0.833rem;
  --fs-16: 0.889rem;
  --fs-17: 0.944rem;
  --fs-18: 1rem;
  --fs-19: 1.056rem;
  --fs-20: 1.111rem;
  --fs-22: 1.222rem;
  --fs-23: 1.278rem;
  --fs-24: 1.333rem;
  --fs-25: 1.389rem;
  --fs-27: 1.5rem;
  --fs-28: 1.556rem;
  --fs-29: 1.611rem;
  --fs-31: 1.722rem;
  --fs-33: 1.833rem;
  --fs-35: 1.944rem;
  --fs-39: 2.167rem;
  --fs-49: 2.722rem;
  --fs-80: 4.444rem;


  /* font */
  --primary-font: 'Source Sans Pro';
  --secondary-font: 'Source Serif Pro';

}

/** Default sizes **/
h1,
.h1 {
  font-size: var(--fs-80);
  font-family: var(--primary-font);
}

h2,
.h2 {
  font-size: var(--fs-49);
  font-family: var(--primary-font);
}

h3,
.h3 {
  font-size: var(--fs-39);
  font-family: var(--primary-font);
}

h4,
.h4 {
  font-size: var(--fs-31);
  font-family: var(--primary-font);
}

h5,
.h5 {
  font-size: var(--fs-18);
  font-family: var(--primary-font);
}

h6,
.h6 {
  font-size: var(--fs-14);
  font-family: var(--primary-font);
}

h1.display-large {
  font-size: var(--fs-80);
}

h1.display-medium {
  font-size: var(--fs-49);
}

h1.display-small {
  font-size: var(--fs-39);
}

h2.display-large {
  font-size: var(--fs-49);
}

h2.display-medium {
  font-size: var(--fs-39);
}

h2.display-small {
  font-size: var(--fs-31);
}

h3.headline-sm__regular {
  font-size: var(--fs-20);
}

.body-large {
  font-size: var(--fs-18);
}

.body-medium {
  font-size: var(--fs-17);
}

.body-small {
  font-size: var(--fs-16);
}

html,
body {
  font-family: var(--primary-font);
  font-size: 18px;
  color: var(--color-09);
}

.container-l {
  max-width: 1070px !important;
  margin: 0 auto;
}

.container-m {
  max-width: 998px !important;
  margin: 0 auto;
}

.container-s {
  max-width: 911px !important;
  margin: 0 auto;
}

.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: var(--secondary-font);
}

.color-01 {
  color: var(--color-01);
}

.color-02 {
  color: var(--color-02);
}

.color-10 {
  color: var(--color-10);
}

.gradient_01 {
  background: var(--gradient-01);
}

.gradient_02 {
  background: var(--gradient-02);
}

.gradient_03 {
  background: var(--gradient-03);
}

.bg-neutral-15 {
  background-color: var(--neutral-15);
}

.gradient_04 {
  background: var(--gradient-04);
}

.gradient_05 {
  background: var(--gradient-06);
}

a {
  text-decoration: none !important;
}

a:not(.evanhub-btn):hover {
  text-decoration: underline;
}

.mx-w-250 {
  width: 100%;
  max-width: 250px;
}

.mx-w-fit {
  width: 100%;
  max-width: fit-content !important;
}

/** BORDER RADIUS **/
.br-4 {
  border-radius: var(--b-radius-4) !important;
}

.br-8 {
  border-radius: var(--b-radius-8) !important;
}

.br-16 {
  border-radius: var(--b-radius-16) !important;
}

/** SPACIOS **/
.pt-xxs {
  padding-top: var(--space-4);
}

.pt-xs {
  padding-top: var(--space-8);
}

.pt-m {
  padding-top: var(--space-16);
}

.pt-xm {
  padding-top: var(--space-24);
}

.pt-xl {
  padding-top: var(--space-48);
}

.pt-xxl {
  padding-top: var(--space-96) !important;
}

.mt-xxs {
  margin-top: var(--space-4);
}

.mt-xs {
  margin-top: var(--space-8);
}

.mt-m {
  margin-top: var(--space-16);
}

.mt-xm {
  margin-top: var(--space-24);
}

.mt-xl {
  margin-top: var(--space-48) !important;
}

.mt-xxl {
  margin-top: var(--space-96);
}

.pb-xxs {
  padding-bottom: var(--space-4);
}

.pb-xs {
  padding-bottom: var(--space-8);
}

.pb-m {
  padding-bottom: var(--space-16);
}

.pb-xm {
  padding-bottom: var(--space-24);
}

.pb-xl {
  padding-bottom: var(--space-48);
}

.pb-xxl {
  padding-bottom: var(--space-96) !important;
}

.mb-xxs {
  margin-bottom: var(--space-4);
}

.mb-xs {
  margin-bottom: var(--space-8);
}

.mb-m {
  margin-bottom: var(--space-16);
}

.mb-xm {
  margin-bottom: var(--space-24);
}

.mb-xl {
  margin-bottom: var(--space-48);
}

.mb-xxl {
  margin-bottom: var(--space-96);
}

.row-gap-32 {
  grid-row-gap: 32px !important;
}

.column-gap-20 {
  column-gap: 20px !important;
}

.column-gap-32 {
  column-gap: 32px !important;
}

/** Buttons **/
.evanhub-btn::after {
  display: none !important;
}

.evanhub-btn {
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-18);
  font-weight: 400;
  line-height: normal;
  gap: 8px;
  padding: 0 30px;
  width: 100%;
  max-width: 275px;
  cursor: pointer;
}

.evanhub-btn i {
  font-size: 1.17rem;
}

.btn-size__small {
  font-size: var(--fs-14) !important;
  max-width: 140px;
  min-width: 140px;
  padding: 0 8px;
}

.btn-full__primary {
  border-color: transparent;
  background-image: var(--gradient-04);
  color: var(--color-10) !important;
  transition: all .8s ease;
}

.btn-full__primary:hover {
  background-position: right center;
  background-size: 200% auto;
  transition: all .8s ease;
}

.btn-outline__primary {
  border: 1px solid var(--color-02);
  color: var(--color-02);
  background-color: transparent;
  transition: all .8s ease;
}

.btn-outline__primary:hover {
  border-color: transparent;
  background-position: right center;
  background-image: var(--gradient-04);
  color: var(--color-10) !important;
  background-size: 200% auto;
  transition: all .8s ease;
}

.btn-outline__secondary {
  border: 1px solid var(--color-10);
  color: var(--color-10);
  transition: all .8s ease;
}

.btn-outline__secondary:hover {
  background-position: right center;
  background-image: var(--gradient-04);
  color: var(--color-10);
  background-size: 200% auto;
  transition: all .8s ease;
}

main ul {
  padding: 0 !important;
  list-style: none;
  line-height: 35px;
  margin: var(--space-27) 0 0 0;
  color: var(--color-09);
}

main ul li {
  display: flex;
  align-items: center;
}

main ul li::before {
  content: '\F309';
  color: var(--color-02);
  margin-right: 16px;
  font-family: 'bootstrap-icons';
}

/** Header **/
header nav ul li button:not(.evanhub-btn) {
  border: none;
  background: none;
}

header nav ul li button:is(.btn-full__primary) {
  border: none;
}

header nav ul li button:is(.btn-outline__primary) {
  background: none;
}

/** Grids **/
[class*="grid-card-"] {
  display: grid;
  grid-gap: 20px;
  column-gap: 20px;
  row-gap: 32px;
}

.grid-card-4 {
  grid-template-columns: repeat(4, 1fr);
}

[class*="grid-card-"] .card {
  padding: 20px;
}

/** Slides **/
.swiper-slide {
  height: auto !important;
}

.swiper-pagination {
  position: relative !important;
  top: 0 !important;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: var(--color-02) !important;
  opacity: .5 !important;
  box-shadow: var(--shadow-strong01);
  transition: all .5s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: var(--color-02) !important;
  width: 18px !important;
  height: 18px !important;
  box-shadow: var(--shadow-strong01);
  transition: all .5s ease;
}

.menu_open {
  overflow: hidden;
}

.panel_menu {
  position: fixed;
  top: 0;
  z-index: 9;
  background: white;
  width: 100%;
  height: 100%;
  padding: 30px 30px 56px 30px;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  transition: all .5s ease;
}


.menu_open .panel_menu {
  transform: translateX(0);
  transition: all .5s ease;
}

.breadcrumbs ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--space-8);
  font-size: var(--fs-14);
  color: var(--color-09);
}

.breadcrumbs a {
  color: var(--color-09);
  text-decoration: none;
}

.breadcrumbs ol li:last-child span:not(.separator) {
  color: var(--color-01);
}

.breadcrumbs .separator {
  margin-right: var(--space-8);
}

.breadcrumbs nav {
  top: var(--space-48);
  position: absolute;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

/** 404 Page **/
.inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
}

.drop {
  max-width: 210px;
  width: 210px;
}

.dropdown-toggle {
  border: 1px solid var(--color-03) !important;
  background: transparent !important;
  color: var(--color-09) !important;
  width: 100%;
  font-family: Source Sans Pro !important;
  font-size: var(--fs-16) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 127.4% !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-radius: var(--b-radius-8) !important;
  padding: var(--space-10) var(--space-16) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  width: 100%;
  border: none !important;
  border-radius: var(--b-radius-8) !important;
  background: var(--backgrounds-white, #FFF);
  padding: var(--space-18) var(--space-12) !important;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.dropdown-item {
  padding: 8px;
}

.dropdown-item+.dropdown-item {
  margin-top: var(--space-8);
}

/** SHARER **/
.social-share-wrap {
  margin: var(--space-96) 0;
}

.social-share-wrap h5 {
  color: var(--color-02);
  font-size: var(--fs-25);
  margin-bottom: var(--space-24);
}

.social-share-wrap .social-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none !important;
  gap: var(--space-24);
}

.social-share-wrap .social-profile li::before {
  display: none;
}

.social-share-wrap .social-profile button {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 30px;
  color: var(--color-02);
  transition: color .5s ease;
}

.social-share-wrap .social-profile button:hover {
  color: var(--color-01);
}

@media screen and (max-width: 991px) {

  .container-l,
  .container-m,
  .container-s {
    max-width: 720px !important;
  }
}

@media screen and (max-width: 768px) {
  h1.display-large {
    font-size: var(--fs-35);
  }

  h1.display-medium {
    font-size: var(--fs-31);
  }

  h1.display-small {
    font-size: var(--fs-29);
  }

  h2.display-large {
    font-size: var(--fs-33);
  }

  h2.display-medium {
    font-size: var(--fs-27);
  }

  h2.display-small {
    font-size: var(--fs-24);
  }

  h3.headline-sm__regular {
    font-size: var(--fs-19);
  }

  /** SPACIOS **/
  .pt-xm {
    padding-top: var(--space-16);
  }

  .pt-xl {
    padding-top: var(--space-32);
  }

  .pt-xxl {
    padding-top: var(--space-56) !important;
  }

  .mt-xm {
    margin-top: var(--space-16);
  }

  .mt-xl {
    margin-top: var(--space-32);
  }

  .mt-xxl {
    margin-top: var(--space-56);
  }

  .pb-xm {
    padding-top: var(--space-16);
  }

  .pb-xl {
    padding-top: var(--space-32);
  }

  .pb-xxl {
    padding-top: var(--space-56) !important;
  }

  .mb-xm {
    margin-bottom: var(--space-16);
  }

  .mb-xl {
    margin-bottom: var(--space-32);
  }

  .mb-xxl {
    margin-bottom: var(--space-56);
  }

  /** Grids **/
  .grid-card-4 {
    grid-template-columns: repeat(1, 1fr);
  }

  /** Dropdown **/
  .drop {
    padding: 0 15px;
    width: 100%;
    display: block;
    flex: 1;
    max-width: 100%;
  }

  .dropdown-toggle {
    border: none !important;
    justify-content: flex-start;
    gap: var(--space-8);
    border-bottom: 1px solid rgba(46, 60, 113, 0.15) !important;
    border-radius: 0 !important;
  }

  .breadcrumbs {
    position: relative;
    z-index: 9;
  }

  .social-share-wrap {
    margin: var(--space-56) 0;
  }

}

@media screen and (max-width: 576px) {

  .container-l,
  .container-m,
  .container-s {
    max-width: 540px !important;
  }
}