.GridCard{
    display: grid;
    grid-gap: 20px;
    column-gap: 20px;
    row-gap: 32px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.GridCard img{
    width: 100%;
}

.InfoCard{
    padding: var(--space-24) var(--space-24) var(--space-32) var(--space-24);
    /*border: 1px solid var(--neutral-09);
    border-radius: 0 0 var(--b-radius-16) var(--b-radius-16);*/
}

.InfoCard > p:first-child{
    font-size: var(--fs-14);
    margin-bottom: 5px;
}

.GridCard a{
    margin: var(--space-24) auto 0 auto;
}

.GridCard p{
    margin-bottom: 0;
}

.GridCard h3{
    margin-bottom: var(--space-24);
    font-size: var(--fs-25);
    font-weight: 600;
}

.CardEvanhub{
    box-shadow: var(--shadow-strong01);
    border-radius: var(--b-radius-16) var(--b-radius-16);
    border: 1px solid rgba(46, 60, 113, 0.15);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.CardEvanhub figure img{
    border-radius: var(--b-radius-16) var(--b-radius-16) 0 0;
    max-height: 208px;
    object-fit: cover;
}

.CardEvanhub .InfoCard{
    border-radius: 0 0 var(--b-radius-16) var(--b-radius-16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.CardEvanhub .InfoCard h2{
    font-size: var(--fs-14);
    font-weight: 400;
    color: var(--color-09);
}

.CardEvanhub .InfoCard h3{
    font-size: var(--fs-25);
    font-weight: 600;
    line-height: 127.4%;
    margin-bottom: var(--space-24);

}

.CardEvanhub:hover .InfoCard{
    background: var(--gradient-05);
    color: var(--color-10);
    transition: all .4s ease;
}

.CardEvanhub:hover .InfoCard a{
    background: transparent;
    color: white !important;
    background-position: 100% 50% !important;
    background-size: 100% auto !important;
    border: 1px solid var(--color-10);
}

.CardEvanhub:hover .InfoCard h2{
    color: var(--color-10);
    transition: all .4s ease;
}

.CardEvanhub .InfoCard a{
    transition: all .4s ease;
}

.CardEvanhub .InfoCard a:hover{
    background-image: var(--gradient-04) !important;
    background-position: 0% 50% !important;
    background-size: 150% auto !important;
    transition: all .4s ease;
}


@media screen and (max-width: 991px){
    .GridCard{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .GridCard{
        grid-template-columns: repeat(1, 1fr);
    }
}