.equipo_split_row{
    border-top: 1px solid var(--color-01);
}

.equipo_split_row .separator_title{
    display: none;
}

.equipo_split_row h2{
    font-size: var(--fs-39);
}

.equipo_split_row p{
    font-size: var(--fs-23);
}

.equipo_split_row .row > div[class*="col-"]:last-child{
    margin-top: var(--space-48);
}

@media screen and (width < 768px){
    
    .equipo_split_row h2{
        font-size: var(--fs-24);
    }

    .equipo_split_row .row > div[class*="col-"]:last-child{
        margin-top: var(--space-24);
    }

    .equipo_split_row p{
        font-size: var(--fs-18);
    }

}