.evanHubContent h2 {
    color: var(--color-01);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: var(--fs-40);
    margin-bottom: var(--space-48);
    max-width: 1005px;
    margin-left: auto;
    margin-right: auto;
}

.primaryContent img {
    width: 100%;
    margin-top: var(--space-96);
}

.primaryContent p{
    text-align: justify;
}

.primaryContent ul li{
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.primaryContent ul li::before{
    position: relative;
    display: contents;
    margin-right: 5px;
    display: flex;
    align-items: flex-start;
}

.auxContent img {
    max-width: 900px;
    margin: var(--space-48) auto;
    display: block;
    width: 100%;
}

.auxContent h2 {
    max-width: 85%;
    margin: 0 auto;
}

.relatedArea{
    background-color: var(--neutral-15);
    padding: var(--space-96) 0;
}

.splitingRow{
    border: 1px solid var(--lneas-lnea-3, rgba(46, 60, 113, 0.15));
    margin-bottom: calc(96px * 2);
}

.splitingRow > div > div:first-child{
    padding: var(--space-48) 0;
}

.splitingRow h2{
    font-size: var(--fs-24) !important;
}

.splitingRow ul{
    font-size: var(--fs-18);
    line-height: 150%;
}

.splitingRow>div:last-child img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: calc(50% - calc(96px + 30px)) !important;
    object-position: center;
}

.quote_area > div:last-child::after{
    content:'';
    background: var(--gradient-07);
    height: 8px;
    position: relative;
    right: 0;
    width: calc(100% + 40%);
    left: -40%;
    display: block;
}

@media screen and (max-width: 1200px) {
    .splitingRow>div:last-child img {
        width: calc(60% - calc(96px + 30px)) !important;
    }
}

@media screen and (max-width: 768px){

    .evanHubContent h2 {
        font-size: var(--fs-28);
    }

    .evanHubContent ul{
        font-size: var(--fs-15);
        line-height: 150%;
    }

    .evanHubContent ul li {
        align-items: flex-start;
        gap: var(--space-8);
        text-align: center;
        padding-left: 0px;
    }

    .evanHubContent ul li::before{
        margin: 0;
        font-size: inherit;
        display: contents;
    }

    .evanHubContent ul li + li{
        margin-top: var(--space-8);
    }

    .classBanner > div:last-child a{
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .SplitingRow{
        gap: 0;
    }

    .splitingRow > div > div:first-child {
        padding: 0 var(--space-16) var(--space-24);
    }

    .splitingRow h2{
        font-size: var(--fs-20) !important;
    }

    .splitingRow ul{
        font-size: var(--fs-15);
        line-height: 150%;
    }

    .splitingRow ul li{
        gap: var(--space-8);
    }

    .splitingRow ul li::before {
        margin-right: 0;
        font-size: 1.2rem;
    }

    .splitingRow{
        margin-bottom: var(--space-56);
    }

    .quote_area > div:last-child::after{
        display: none;
    }

    .quote_area > div:first-child::after{
        content:'';
        background: var(--gradient-07);
        height: 8px;
        position: relative;
        right: 0;
        width: calc(100% + 40%);
        right: -40%;
        display: block;
        bottom: 10%;
    }

    .quote_area > div:first-child img{
        object-position: top;
    }
}

@media screen and (max-width: 768px) {
    .splitingRow>div:last-child img{
        position: relative;
        width: 100% !important;
    }
}