.GridCard{
    column-gap: 32px
}
.CardIcon{
    text-align: center;
    padding: var(--space-48) var(--space-24) var(--space-24) var(--space-24) !important;
    min-height: 365px;
    align-items: center;
    justify-content: flex-start;
    border-color: rgba(46, 60, 113, 0.15);
}

.CardIcon h3{
    color: var(--color-02);
    font-size: var(--fs-20);
    text-align: center;
    font-weight: 600;
}

.CardIcon img{
    max-height: 70px;
    margin-bottom: var(--space-24);
    max-width: 70px;
    min-height: 70px;
}

.CardIcon p{
    color: var(--color-09);
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .CardIcon{
        min-height: auto;
    } 
}